 @model Footer
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
 <link rel="stylesheet" type="text/css" href="~/css/post.css">       
<link rel="stylesheet" type="text/css" href="~/css/Headerimg.css">
<div class="wide">
  	<div class="col-xs-5 line"><hr></div>
    <div class="col-xs-2 logo"><a href="#" style="color:rgb(255, 255, 255);"> @Model.AppTitle  
      @ViewBag.title

    </a>
    </div>
    <div class="col-xs-5 line"><hr></div>
</div><br>